.resumePage__sub {
  display: flex;
  justify-content: space-between;
}

.resumePage__sub > div {
  flex-basis: calc(50% - 32px);
}








.timelines {
  border-left: 2px solid #dadada;
  padding: 8px 0 8px 48px;
}

.timelines > div {
  margin-top: 16px;
  margin-bottom: 16px;
}

.timeline {
  position: relative;
  padding: 16px 20px;
  border-radius: 4px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  border-left: 2px solid #377e98;
  margin-left: -5px;
}

.timeline::before {
  content: "";
  width: 48px;
  border-bottom: 2px solid #377e98;
  position: absolute;
  left: -48px;
  top: 8px;
}

.timeline::after {
  content: "";
  position: absolute;
  left: -52px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #377e98;
  top: 2px;
  background: white;
}



.resumePage__sub + .resumePage__sub {
  margin-top: 32px;
}

.resumeSub__titleHighlight {
  color: #377e98;
}




.services__titleHightLight {
  color: #377e9a;
}

.services {
  display: flex;
  justify-content: space-around;
  margin: 48px 0;
}

.serviceItem {
  width: calc(100%/3);
  margin: 0 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.serviceItem__imageContainer {
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 100%;
}

.serviceItem__image {
  width:55px;
}

.serviceItem__name {
  font-size: 18px;
}

.serviceItem__description {
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.clients {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clientItem {
  width: 150px;
}
