.services__titleHightLight {
    color: #377e9a;
  }
  
  .services {
    display: flex;
    justify-content: space-around;
    margin: 48px 0;
  }
  
  
  
  .clients {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .clientItem {
    width: 150px;
  }