/* 
 .blog-masonry {
    margin: 0 -1em;
  }
  .blog-masonry.two-columns .item {
    width: 50%;
    float: left;
    padding: 1em;
  }
  
  .blog-masonry.three-columns .item {
    width: 33.333333%;
    float: left;
    padding: 1em;
  } */
  
  