.homepage__header {
  display: flex;
  padding-bottom: 0;
  align-items: center;
}

.homepage__content {
  padding-top: 56px;
}

.homepage__content{
  display: flex;
  justify-content: space-between;
}

.homepage__content > div,
.resumePage__sub > div {
  flex-basis: calc(50% - 32px);
}



